<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VTKTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <VTKTest.Properties.Settings>
            <setting name="VolumeColor" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="EdgeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="RecursiveLoad" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowEdges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowVolume" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value/>
            </setting>
        </VTKTest.Properties.Settings>
    </userSettings>
</configuration>
